<center>
	<h2>Manage Users</h2>
	<hr>
	<br>
</center>

<table class="table table-bordered">
	<tr>
		<th class="col-md-1">No</th>
		<th class="col-md-3">Username</th>
		<th class="col-md-5">Fullname</th>
		<th class="col-md-3">Role</th>
		<th colspan="2"></th>
	</tr>
	<% i=1 %>
	<% @users.each do |u| %>
		<tr>
			<td><%= i %></td>
			<td><%= u.username %></td>
			<td><%= u.fullname %></td>
			<td><%= u.role %></td>
			<td><%= link_to "Edit",edit_user_password_path %></td>
			<td><%= link_to "Delete",edit_user_password_path %></td>
		</tr>
		<% i+=1 %>
	<% end %>
</table>

<center>
	<%= paginate @users %>
	<hr>
	<br>
	<%= link_to "Back",admin_index_path,class:"btn btn-default button" %>
</center>