<h1>Editing Patient</h1>

<%= simple_form_for @patient,url: :patient,method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address,as: :text %>
    <div class="row">
      <div class="col-md-6"><%= f.input :contact %></div> 
      <div class="col-md-6"><%= f.input :email %></div> 
    </div>
    <div class="row">
      <div class="col-md-6"><%= f.input :date_of_birth %></div>
      <div class="col-md-6"><%= f.input :blood_group %></div>
    </div>
    <div class="row">
      <div class="col-md-6"><%= f.input :height %></div>
      <div class="col-md-6"><%= f.input :weight %></div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Show', patient_path(@patient.name) %> |
<%= link_to 'Back', patients_path %>
