
<% if notice %>
  <div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Listing Patients</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-5">Name</th>
      <th class="col-md-4">Contact</th>
      <th class="col-md-3">Blood group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.contact %></td>
        <td><%= patient.blood_group %></td>
        <td><%= link_to 'Show', patient_path(patient.name) %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient.name) %></td>
        <td><%= link_to 'Delete', patient_path(patient.name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><%= paginate @patients %></center>
<br>
