<center>
	<h2>Edit Profile</h2>
	<hr><br>
</center>

<%= simple_form_for @doctor,url: :edit_profile do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :degree,collection:["M.B.B.S","M.D","M.S","B.A.M.S","B.D.S","M.D.S"] %>
		<%= f.input :specialization,collection:["Paediatics","Surgery","Neurology","Anaesthetics","Opthalmalogy","Orthopaedics","Microbiology","Cardiology","Pathology","Onchology","Psychiatry"] %>
		<%= f.input :contact %>
	</div>

	<div class="form-actions">
		<center><%= f.button :submit,"Update Profile" %></center>
	</div>
<% end %>

<center>
	<hr>
	<br>
	<%= link_to "Back",doctors_path,class:"btn btn-default button" %>
</center>